.display {
  margin-top: 103px;
  padding: 15px;
  background-color: var(--sub-color);
  text-align: center;
}

.display i {
  margin: 0 10px;
  color: var(--point-color);
}

.category__top {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--point-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category__text {
  font-size: 14px;
}
