#no-mobile {
  background-color: var(--sub-color);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  z-index: 99;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
